.badge {
  border: solid 1px transparent;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: initial;
  &--critical {
    border-color: $danger-base;
    color: $danger-base;
    &.active {
      background-color: $danger-base;
      color: $white;
    }
  }
  &--warning {
    border-color: $warning-base;
    color: $warning-base;
    &.active {
      background-color: $warning-base;
      color: $white;
    }
  }
  &--info {
    border-color: $success-base;
    color: $success-base;
    &.active {
      background-color: $success-base;
      color: $white;
    }
  }
  &--default {
    border-color: $gray-800;
    color: $gray-800;
  }
  &--all {
    border-color: $blue;
    color: $blue;
    &.active {
      background-color: $blue;
      color: $white;
    }
  }
  &--light {
    background: $gray-100;
    color: $gray-900;
    border-radius: 1rem;
    font-size: 0.95rem;
    font-weight: normal;
    padding: 0.35em 1em;
  }
  &-fill {
    &--warning {
      background: $warning-base;
      color: $black;
    }
    &--danger {
      color: $danger-base;
      color: $black;
    }
    &--default {
      background: $primary-25;
      color: $black;
      border: solid 1px $gray-100;
    }
  }
  &--rounded {
    border-radius: 2rem;
  }
  &--sm {
    padding: 0.1rem 0.7em;
    font-size: 0.85rem;
  }
}

.color {
  &--critical {
    color: $danger-base;
  }
  &--warning {
    color: $warning-base;
  }
  &--info {
    color: $success-base;
  } 
  &--bookmark {
    color:black
  }
}
