.btn {
  &--list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &-primary {
    background-color: $primary-base;
    color: $white;
    transition: $transition-base;
    &:hover {
      background-color: $white;
      color: $primary-base;
      transition: $transition-base;
    }
    &:focus, &:active, &:focus:active {
      box-shadow: none;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &-secondary {
    background-color: $white;
    color: $primary-base;
    border-color: $primary-base;
    transition: $transition-base;
    &:hover {
      background-color: $primary-base;
      color: $white;
      border-color: $primary-base;
      transition: $transition-base;
    }
    &:focus, &:active, &:focus:active {
      box-shadow: none;
      background-color: $white;
      color: $primary-base;
      border-color: $primary-base;
    }
    &:disabled {
      opacity: 0.5;
      background-color: $white;
      color: $primary-base;
      border-color: $primary-base;
    }
    &.red {
      background-color: $white;
      color: $danger-base;
      border-color: $danger-base;
      &:hover {
        background-color: $danger-base;
        color: $white;
        border-color: $danger-base;
      }
      &:focus, &:active, &:focus:active {
        background-color: $white;
        color: $danger-base;
        border-color: $danger-base;
      }
      &:disabled {
        background-color: $white;
        color: $danger-base;
        border-color: $danger-base;
      }
    }
  }
  &-link--bold {
    font-weight: bold;
    color: $white;
    text-decoration: none;
    padding: 0.375rem 0;
  }
  &-link--dark {
    color: $black;
  }
  &-link--dropdown {
    color: $primary-base;
    font-weight: bold;
    padding: 0;
    border: none;
    margin: 0.5rem 0;
    &:after {
      vertical-align: middle;
    }
  }
  &:focus, &:focus:active {
    color: $primary-base;
    box-shadow: none;
  }
  &-white {
    background: none;
    color: white;
    border-color: white;
    transition: $transition-base;
    &:hover {
      background-color: white;
      color: $primary-base;
      transition: $transition-base;
    }
    &:focus, &:active, &:focus:active {
      box-shadow: none;
      background-color: $white;
      color: $primary-base;
    }
  }
}

.dropdown-menu {
  box-shadow: $box-shadow;
  border: none;
  .dropdown-title {
    cursor: default;
    white-space: nowrap;
  }
  .dropdown-item {
    color: $black;
    cursor: pointer;
    &:hover {
      background-color: $primary-25;
    }
    &.disabled {
      opacity: 0.2;
    }
  }
  .btn-icon {
    padding: 0;
    i {
      color: $primary-base;
    }
  }
}

.btn-icon {
  &[disabled] {
    pointer-events: none;
  }
}

.btn-more {
  background: transparent;
  border: transparent;
  font-size: 1rem;
  line-height: normal;
  padding: 0;
  i {
    color: $gray-400;
    transition: $transition-base;
  }
  &:hover, &:active, &:focus {
    background: none;
    border-color: transparent;
    i {
      color: $primary-base;
      transform: scale(1.2);
      transition: $transition-base;
    }
  }
}

.btn-icon {
  display: inline-block;
  font-size: 1.125rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  &.btn-hover {
    cursor: auto;
    padding: 0;
  }
  i {
    color: $gray-700;
    vertical-align: middle;
    transition: $transition-base;
  }
  &:hover, &:active, &:focus {
    background: none;
    border-color: transparent;
    i {
      color: $primary-base;
    }
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:focus, &:active, &:focus:active {
    background: none;
    border-color: transparent;
    box-shadow: none;
    i {
      color: $gray-700;
    }
  }
  &.btn-editinfo {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 1rem;
  }
}
