.card {
  border-color: $gray-100;
}
.card-tag {
  font-size: 0.85rem;
}
.card--site {
  .card-img {
    width: auto;
  }  
}
.card--dashboard {
  background-color: $primary-25;
  color: $primary;
  max-width: 12rem;
  min-height: 12rem;
  flex-basis: 12rem;
  .card {
    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
    }
    &__icon {
      text-align: center;
      margin-bottom: 0.5rem;
      & svg {
        width: 4rem;
      }
    }
    &__number {
      display: block;
    }
    &-text {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.dashboard-title {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  .h1-main {
    margin: 0;
    font-weight: normal;
  }
  & > * {
    display: inline-block;
  }
}

.country-title{
  position: static;
  width: 40px;
  height: 32px;
  left: 10px;
  top: 0px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #01579B;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 18px;
}

.country-card {
  box-shadow: $box-shadow;
  border-radius: 10px;
  margin: 0;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: $transition-base;
  &:hover {
    background-color: $gray-25;
    cursor: pointer;
    transition: $transition-base;
    text-decoration: underline;
  }
  &-left {
    margin-right: 1rem;
    .card-img {
      &--flag {
        width: 2.5rem;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    i {
      color: $primary-base;
    }
  }
  &-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: $primary-base;
  }
  &-body {
    .badge {
      border: none;
      padding: 0;
      margin-right: 0.5rem;
    }
  }
  &-link {
    text-decoration: none;
  }
}

.pending-card {
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 1rem 0.75rem;
  transition: $transition-base;
  &:hover {
    background-color: $gray-25;
    transition: $transition-base;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    i, svg {
      color: $gray-400;
    }
  }
  &-body {
    margin-bottom: 0.5rem;
    .badge {
      border: none;
      padding: 0;
      margin-right: 0.5rem;
    }
  }
  &-button {
    .btn {
      padding: 0;
    }
  }
}

.search-card {
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 1rem 0.75rem;
  transition: $transition-base;
  &:hover {
    background-color: $gray-25;
    transition: $transition-base;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  &-title {
    color: $primary-base;
    font-weight: bold;
    font-size: 1.25rem;
  }
  &-body {
    margin-bottom: 0.5rem;
  }
  &-description {
    b {
      font-size: 1.125rem;
    }
  }
  &-button {
    .btn {
      padding: 0;
    }
  }
}

.chart-card {
  box-shadow: $box-shadow;
  border-radius: 10px;
  margin: 0;
  padding: 1rem 0.75rem;
  height: 100%;
  h3 {
    text-align: center;
  }
}

.grid {
  margin: -0.5rem;
  > [class*='col-'] {
    padding: 0.5rem;
  }
}

.container-card-dashboard {
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 2rem;
  a {
    text-decoration: none;
  }
  .card-dashboard-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    position: static;
    background: #E3F2FD;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    flex: initial;
    order: 0;
    flex-grow: 0;
    height: 100%;
    transition: $transition-base;
    &:hover {
      background: #cfe9fc;
      transition: $transition-base;
    }
    .card-body {
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
    }
  }
}


.form-label-reporting {
  float: left;
  text-align: end;
  margin-right: 1rem;
  white-space: nowrap;
  padding: 0;
}

.form-select-reporting {
  // float: right;
  width: 12rem;
  line-height: normal;
}

.card-main-title {
  position: absolute;
  width: 97px;
  height: 23px;
  left: 0px;
  top: 0px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #033166;
}

.card-site-level {
  border: 2px dashed $gray-100;
  margin-bottom: 1.5rem;
  & h2 {
    font-size: 1rem;
    margin: 0;
  }
}

.card-icon-new{
  width: 65px;
  float: left;  
}

.card-text-new {
  padding-left: 1.5rem;
  display: grid;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #006699;
}

.row-card-flags {
  top:0;
  width: inherit;
  height: 100%;
}

.col-card-flags {
  height: inherit;
}

