.form-check-input {
  border-width: 2px;
}
.radio {
  &--warning {
    & .form-check-input {
      border-color: $warning-base;
      border-width: 1px;
      background-color: $warning-25;
      &:checked[type='radio'] {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='black'/></svg>");
      }
    }
  }
  &--danger {
    & .form-check-input {
      border-color: $danger-base;
      border-width: 1px;
      background-color: $danger-25;
      &:checked[type='radio'] {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='black'/></svg>");
      }
    }
  }
  &--success {
    & .form-check-input {
      border-color: $success-base;
      border-width: 1px;
      background-color: $success-25;
      &:checked[type='radio'] {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='black'/></svg>");
      }
    }
  }
}
.form-select {
  border-color: $gray-300;
  line-height: normal;
  cursor: pointer;
  &:focus {
    border: solid 1px #000015 !important;
    box-shadow: none !important;
  }
}
.select--right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  box-shadow: none;
  margin-right: 1rem;
}
.input--light {
  border-radius: 0.5rem;
  background-color: $gray-25;
  border: solid 1px $gray-100;
}
.input--sm {
  width: 8rem;
}

.input--table-filters {
  border: none;
  border-bottom: solid 1px transparent;
  padding: 0;
  margin-top: 0.5rem;
  &::placeholder {
    color: $gray-300;
  }
  &:focus-visible {
    color: $black;
    border-bottom-color: $black;
    outline: none;
  }
}

/* Checkbox */
.checkbox {
  margin-right: 1rem;
  label {
    display: inline-block;
    position: relative;
    padding: 0px 0px 0px 2rem;
    font-size: 0.875rem;
    line-height: normal;
    cursor: pointer;
    -webkit-transition: $transition-base;
    -o-transition: $transition-base;
    transition: $transition-base;
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      bottom: 0;
      border: 2px solid $gray-100;
      border-radius: 2px;
      cursor: pointer;
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked + label:after {
      content:"";
      position: absolute;
      font-size: 0.875rem;
      left: 6px;
      bottom: 4px;
      width: 6px;
      height: 12px;
      opacity: 1;
      cursor: pointer;
      border-bottom: solid 3px $blue;
      border-right: solid 3px $blue;
      transform: rotate(45deg);
    }
    &:checked + label:before {
      border-color: $blue;
    }
    &:indeterminate + label:before {
      border-color: $blue;
    }
    &:indeterminate + label:after {
      content: "";
      position: absolute;
      font-size: 0.875rem;
      left: 4px;
      bottom: 7px;
      width: 10px;
      height: 12px;
      cursor: pointer;
      border-bottom: solid 3px #22a4fb;
    }
  }
  .badge {
    font-weight: bold;
  }
}
