.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.container--main {
  display: flex;
  flex-direction: column;
}
.content--wrapper {
  flex: 1;
  display: flex;
  position: relative;
}
.main-content {
  width: 100%;
  border-left: solid 2px $gray-100;

  position: relative;
}
.header {
  &--custom {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
  }
  &__title {
    background: #033166;

    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
}
