.esri-view {
  --esri-view-outline: none !important;
  .esri-widget--button {
    color: $primary-base;
  }
  .esri-component {
    &.esri-layer-list {
      box-shadow: none;
      background: none;
      padding: 0;
      margin: 0;
      .esri-layer-list {
        &__status-indicator {
          margin: 0.25rem;
        }
        &__updating {
          background-color: $primary-base;
          animation: 2s infinite loading;
        }
      }
      .esri-icon-visible, .esri-icon-non-visible {
        color: $primary-base;
      }
    }
  }
  .esri-feature {
    .esri-widget__table tr th {
      border-right: solid 1px $gray-100;
      border-bottom: solid 1px $gray-100;
      background-color: white;
    }
    .esri-widget__table tr td {
      border-bottom: solid 1px $gray-100;
      background-color: white;
    }
    .esri-widget__table tr:last-of-type th, .esri-widget__table tr:last-of-type td {
      border-bottom: none;
    }
  }
  .esri-layer-list {
    &__item-container {
      border-color: $primary-base;
      padding: 12px;
    }
    &__list {
      width: fit-content;
    }
    &__item-toggle {
      line-height: 0.5rem;
    }
  }
  .legend-color {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    opacity: 0.5;
    margin-left: 0.5rem;
    &.legend-color-border {
      height: 3px;
      opacity: 1;
      border-top: solid 3px $black;
    }
    &.legend-color-submission {
      background-color: $submission;
    }
    &.legend-color-reference {
      background-color: $reference;
    }
    &.legend-color-changes {
      background-image: linear-gradient(45deg, $danger-base 50%, $success-base 50%);
    }
  }
  .esri-popup {
    &__content {
      margin: 0 0.25rem 0.25rem;
    }
    .esri-popup__main-container {
      width: 260px !important;
    }
    .esri-features__container {
      padding: 0;
    }
    .esri-widget__heading {
      font-size: 0.875rem;
    }
    .esri-widget__table tr th {
      width: 40%;
    }
  }
}

@keyframes loading {
  0%, 40% {
    background-color: #0000;
  }
  50%, 80% {
    background-color: $primary-base;
  }
  100% {
    background-color: #0000;
  }
}
