.modal {
  .modal-dialog-scrollable {
    .modal-content {
      height: 100%;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }
  }
  .modal-title {
    font-size: 1.2rem;
    color: $primary-base;
  }
  .sidebar-nav {
    border-right: solid 1px $gray-100;
    .nav-item {
      margin-bottom: 1rem;
      .nav-link {
        margin: 0;
        padding-right: 3rem;
      }
    }
  }
  .collapse-container {
    .card {
      flex-direction: row;
      padding: 1rem;
      margin: 0.5rem 0;
      table {
        margin-bottom: 0;
        tr:last-of-type td {
          border-bottom: none;
        }
      }
    }
  }
  &--confirmation {
    z-index: 1065;
    & ~ .modal-backdrop {
      z-index: 1060;
    }
  }

  .document {
    &--list {
      padding: 1rem;
    }
    &--item {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }
    &--text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--icons {
      white-space: nowrap;
    }
    &.new {
      margin-right: 0.5rem;
    }
  }
}

.comment {
  &--list {
    padding: 1rem;
  }
  &--item {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
  &--text {
    flex: 1 1;
    gap: 0.5rem; 
    input {
      flex: 1 1;
      height: 100%;
      border: solid 1px $gray-100;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      resize: none;
      outline: none;
    }
  }
  &--icons {
    white-space: nowrap;
  }
  &--input {
    resize: none;
    outline: none;
  }
}
