.modal {
  .modal-dialog-scrollable {
    .modal-content {
      height: 100%;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }
  }
  .modal-header {
    align-items: start;
  }
  .modal-title {
    font-size: 1.25rem;
    color: $primary-base;
  }
  &--confirmation {
    z-index: 1065;
    & ~ .modal-backdrop {
      z-index: 1060;
    }
  }
  .release-group {
    margin-bottom: 2rem;
    &-title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}

.attachments {
  &--title {
    padding-bottom: 0.5rem;
  }
  &--group {
    padding-bottom: 1rem;
  }
}

.document {
  &--list {
    padding: 1rem;
    overflow: auto;
  }
  &--item {
    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }
  }
  &--row {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
  }
  &--new {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }
  &--text {
    flex: 1 1;
    gap: 0.25rem;
    overflow: hidden;
  }
  &--file {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.25rem;
  }
  &--icons {
    white-space: nowrap;
    .btn-link {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &--date {
    display: block;
    font-style: italic;
    font-size: 80%;
  }
}

.comment {
  &--list {
    padding: 1rem;
    overflow: auto;
  }
  &--item {
    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }
  }
  &--row {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
  }
  &--text {
    flex: 1 1;
    gap: 0.25rem; 
    input {
      flex: 1 1;
      height: 100%;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      resize: none;
      outline: none;
    }
  }
  &--icons {
    white-space: nowrap;
    .btn-link {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &--input {
      height: 100%;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      width: 100%;
      resize: none;
      outline: none;
  }
  &--date {
    display: block;
    font-style: italic;
    font-size: 80%;
  }
}
