.sdf-map {
  pointer-events: none;
  #mapDiv {
    height: 400px !important;
    .esri-attribution {
      display: none;
    }
  }
}

.sdf-general {
  display: flex;
  gap: 2rem;
  align-items: center;
  h1 {
    margin-bottom: 0;
  }
  svg {
    width: 8rem;
    min-width: 8rem;
  }
}

.sdf-index {
  ol {
    width: fit-content;
    padding-inline-start: 32px;
  }
}

.sdf-header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: none;
  background: #033166;
  color: #fff;
  font-size: 1.25rem;
  gap: 1.5rem;
  .sdf-title {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    h1 {
      color: white;
      margin-bottom: 0;
      font-size: 1.75rem;
    }
  }
  &-items {
    row-gap: 0.5rem;
    b {
      font-size: 1.5rem;
    }
  }
}

.sdf-row {
  margin-bottom: 1rem;
  &-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-field {
    border: solid 1px $gray-100;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    ~ .sdf-row-field {
      margin-top: 0.5rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    .table {
      margin-bottom: 0;
      overflow: auto;
      tr:last-of-type td {
        border-bottom: none;
      }
    }
  }

  .piechart {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: conic-gradient($primary-50 var(--progress), $gray-100 0deg);
    font-size: 0;
    &::after {
      content: attr(data-progress) ' %';
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin: 0.75rem;
      border-radius: 50%;
      background: white;
      font-size: 1.5rem;
      text-align: center;
      color: $primary-50;
    }
    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      label {
        text-transform: uppercase;
        color: $primary-50;
      }
    }
  }

  .indicators {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 2rem;
      background-color: $primary-25;
      color: $primary-50;
      height: 100%;
      border-radius: 0.5rem;
      &.green {
        background-color: $accepted;
        color: $black;
      }
      &.red {
        background-color: $rejected;
        color: $black;
      }
    }
    &-number {
      font-weight: bold;
      font-size: 1.5rem;
    }
    &-title {
      text-transform: uppercase;
      text-align: center;
      margin: auto;
    }
  }
}

/*  Tooltips  */
[tooltips] {
  position: relative;
  i {
    margin-left: 0.25rem;
    cursor: pointer;
  }
  &::before, &::after {
    font-size: 0.875rem;
    position: absolute;
    display: none;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  &::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1;
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #000015;
  }
  &::after {
    content: attr(tooltips);
    padding: 4px 8px;
    border-radius: 4px;
    background: #404040;
    color: white;
    z-index: 2;
    font-weight: normal;
    max-width: 16rem;
    width: max-content;
    bottom: calc(100% + 5px);
  }
  &:hover {
    &::before, &::after {
      display: block;
      pointer-events: none;
      animation: tooltips-vertical 300ms ease-out forwards;
    }
  }
}
[tooltips=''] {
  &::before, &::after {
    display: none !important;
  }
}
@keyframes tooltips-vertical {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media print {
  * {
    print-color-adjust: exact; 
    font-size: 0.85rem;
    font-family: "Roboto";
  }
  body {
    margin: 0;
    height: 100vh;
    width:  100vw;
  }
  .container--main {
    width: 100%;
  }
  .header__links {
    display: none;
  }
  .sdf-header {
    width: 100vw;
    .btn, .header__links {
      display: none;
    }
  }
  .sdf-header-items > div {
    width: 30%;
  }
  .nav-tabs {
    display: none;
  }
  .indicators-container > div {
    width: 50%;
  }
  .indicators-container {
    & > .indicators-item {
      width: 100%;
    }
    .indicators-item + .sdf-row-field {
      width: 100%;
    }
  }
  .sdf-map {
    height: 200px;
    #mapDiv canvas {
      object-fit: cover;
      max-height: auto;
      max-width: 100%;
      height: 200px !important;
      width: auto !important;
    }
  }
}
