.table {
  border-collapse: inherit;
  border-spacing: 0;
  th {
    color: $primary-dark;
    font-size: 0.9rem;
    vertical-align: middle;
  }
  &--light {
    th, td {
      padding: 0.2rem;
    }
  }
  &--noheader {
    th {
      display: none;
    }
  }
  tr {
    td {
      border-bottom-color: $gray-100;
      color: $black;
      vertical-align: middle;
      padding: 0.75rem 0.5rem;
      .row-expand {
        font-size: 18px;
        line-height: 18px;
        height: 18px;
        text-align: center;
        i {
          color: $blue;
        }
      }
      .btn-group {
        width: 100%;
      }
    }
    .cell-sitecode {
      max-width: 200px;
      width: 30%;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
      }
    }
  }
  .checkbox {
    margin: auto;
    height: 18px;
    width: 18px;
  }
}
.td-separator {
  width: 1.1rem;
  background-image: linear-gradient(
    360deg,
    $primary,
    $primary 50%,
    transparent 50%,
    transparent 100%
  );
  padding: 0 !important;
  background-color: $white;
  background-size: 1px 1rem;
  border-right: solid 1rem white;
  border-left: solid 1rem white;
}
.pagination {
  color: $primary-base;
  align-items: center;
  margin-bottom: 1rem;
  .page-link {
    color: $primary-base;
    border: solid 1px $gray-100;
    background-color: white;
    padding: 0.25rem 0.75rem;
    transition: $transition-base;
    cursor: pointer;
    &:hover {
      background-color: $primary-base;
      color: white;
      transition: $transition-base;
    }
    &:first-of-type {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-of-type {
      border-radius: 0px 4px 4px 0px;
    }
    &[disabled] {
      color: $gray-100;
      border-color: initial;
      &:hover {
        background-color: initial;
      }
    }
    & i {
      font-size: 0.75rem;
    }
  }
  span, label {
    margin: 0 0.5rem;
  }
  & .pagination-rows {
    margin-left: 1rem;
    & select {
      cursor: pointer;
      width: 5rem;
      display: inline-block;
    }
  }
}
