.table {
  border-collapse: inherit;
  border-spacing: 0;
  th {
    color: $primary-dark;
    font-size: 0.9rem;
    vertical-align: middle;
  }
  &--light {
    th, td {
      padding: 0.2rem;
    }
  }
  &--noheader {
    th {
      display: none;
    }
  }
  tr {
    td {
      border-bottom-color: $gray-100;
      color: $black;
      vertical-align: middle;
      padding: 0.75rem 0.5rem;
      .btn-group {
        width: 100%;
      }
      .btn-link {
        padding: 0;
      }
      .lineage-cell {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
      }
    }
    .row-expand {
      font-size: 18px;
      line-height: 18px;
      height: 18px;
      text-align: center;
      i {
        color: $blue;
      }
    }
    .cell-sitecode {
      max-width: 200px;
      width: 30%;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
      }
    }
  }
  &.tablechanges {
    th {
      border-bottom: none;
    }
    tr {
      &.siterow td {
        border-top: solid 1px $gray-100;
        border-bottom: none;
      }
      &.subrow td {
        border: none;
        padding: 0.5rem 0.5rem;
      }
    }
  }
  .checkbox {
    margin: auto;
    height: 18px;
    width: 18px;
  }
}
.td-separator {
  width: 1.1rem;
  background-image: linear-gradient(
    360deg,
    $primary,
    $primary 50%,
    transparent 50%,
    transparent 100%
  );
  padding: 0 !important;
  background-color: $white;
  background-size: 1px 1rem;
  border-right: solid 1rem white;
  border-left: solid 1rem white;
}
.pagination {
  color: $primary-base;
  align-items: center;
  margin-bottom: 1rem;
  .page-link {
    color: $primary-base;
    border: solid 1px $gray-100;
    background-color: white;
    padding: 0.25rem 0.75rem;
    transition: $transition-base;
    cursor: pointer;
    &:hover {
      background-color: $primary-base;
      color: white;
      transition: $transition-base;
    }
    &:first-of-type {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-of-type {
      border-radius: 0px 4px 4px 0px;
    }
    &[disabled] {
      color: $gray-100;
      border-color: initial;
      &:hover {
        background-color: initial;
      }
    }
    & i {
      font-size: 0.75rem;
    }
  }
  span, label {
    margin: 0 0.5rem;
  }
  & .pagination-rows {
    margin-left: 1rem;
    & select {
      cursor: pointer;
      width: 5rem;
      display: inline-block;
    }
  }
}

.message-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: $primary-25;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  .message-board-link {
    color: $primary-base;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0;
  }
  .hiddenCheckbox {
    input {
      display: none;
    }
  }
}

.unionlist-compare {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  border: 2px dashed #e5e5e5;
  padding: 1rem;
  margin-bottom: 1.5rem;
  & i {
    color: $primary-base;
  }
}
.unionlist-changes {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  > * {
    white-space: nowrap;
  }
}
.unionlist-table {
  border-radius: 0.5rem;
  border: solid 1px $gray-100;
  padding: 1rem;
  overflow-x: auto;
  table {
    width: max-content;
    margin-bottom: 0;
    td {
      white-space: nowrap;
      height: 3rem;
      line-height: 1rem;
    }
  }
}

.table-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  nav {
    margin-right: auto;
  }
}
.table-legend {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  &--item {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }
  &--color {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
}
