// Variables
$white: #fff !default;
$gray-base: #3c4b64 !default;
$gray-25: #f4f7f8;
$gray-100: #e5e5e5 !default;
$gray-200:  #d8dbe0 !default;
$gray-300:  #c4c9d0 !default;
$gray-400:  #b1b7c1 !default;
$gray-500:  #9da5b1 !default;
$gray-600:  #8a93a2 !default;
$gray-700:  #768192 !default;
$gray-800: #696e70 !default;
$gray-900: #363636 !default;
$black: #000015 !default;
$blue: #22a4fb !default;
$emphasis: $blue;
$primary-dark: #00072b !default;
$primary-base: #006699 !default;
$primary-50: #033166 !default;
$primary-25: #e3f2fd !default;
$secondary-base: #028889 !default;
$success-base: #7fc008 !default;
$success-25: #cbedd6 !default;
$warning-base: #db8c28 !default;
$warning-25: #feecc5 !default;
$danger-base: #db303f !default;
$danger-25: #f9d4d4 !default;
$pending: #e4e4e4;
$accepted: #daf5d6;
$rejected: #f6cbcf;
$submission: #fed100;
$submissionlight: #fff1b3;
$reference: #4fc1c5;
$referencelight: #caf1ee;
$box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
$box-shadow-disabled: 0px 0px 4px rgb(0 0 0 / 5%);
$transition-base: all .2s ease-in-out !default;
$font-family-sans-serif: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 1.3 !default;
$h2-font-size: $font-size-base * 1.2 !default;
$h3-font-size: $font-size-base * 1.1 !default;
$h4-font-size: $font-size-base * 01 !default;
$h5-font-size: $font-size-base * 0.95 !default;
$h6-font-size: $font-size-base * 0.9 !default;
$headings-font-family: Roboto, 'Segoe UI', 'Helvetica Neue', Arial !default;
$headings-font-weight: bold !default;
$headings-color: $primary-50 !default;
$modal-content-border-width: 0 !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$sidebar-bg: $white !default;
$sidebar-nav-title-color: $primary-base !default;
$sidebar-nav-link-color: $black !default;
$sidebar-nav-link-hover-color: $emphasis !default;
$sidebar-nav-link-active-color: $emphasis !default;
$sidebar-nav-link-active-bg: $primary-25 !default;
